.DS_Store
node_modules

*.log*
*.local

.cache
.eslintcache

dist

# tsc
*.tsbuildinfo

# eslint-typegen
src/types/typegen.ts
src/types/typegen.d.ts

# @eslint/config-inspector
.eslint-config-inspector

# vitepress docs
**/.vitepress/dist
**/.vitepress/cache
